<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VBShootingGame.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <VBShootingGame.My.MySettings>
            <setting name="ML_Interval" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="MLT_Interval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ESpawnTerm" serializeAs="String">
                <value>50000000</value>
            </setting>
            <setting name="DifTerm" serializeAs="String">
                <value>70000000</value>
            </setting>
            <setting name="PSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PFireDelay" serializeAs="String">
                <value>400</value>
            </setting>
        </VBShootingGame.My.MySettings>
    </userSettings>
</configuration>